# Ignore virtual environments
.RLproj/
RLproj/
.TME1/
TME1/
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore VS Code settings (optional)
.vscode/

# Ignore temporary files
.DS_Store